@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: outfit;
}

html {
  scroll-behavior: smooth;
}

.active li{
  @apply text-green-500;
}
.active hr{
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden;
}



@keyframes cameraShake {
  0% {
    transform: rotate(0deg) scale(1);
  }

  5% {
    transform: rotate(-10deg) scale(1.1);
  }

  10% {
    transform: rotate(10deg) scale(1.15);
  }

  15% {
    transform: rotate(-8deg) scale(1.1);
  }

  20% {
    transform: rotate(8deg) scale(1.05);
  }

  25% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

.camera-shake {
  animation: cameraShake 2s ease-in-out infinite;
  transform-origin: center;
}
